.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}
.cart-container{
    background-color: #FFE0B3;
    color: tomato;
    padding: 20px;

}
